version: '3.8'

services:
  authentication:
    build:
      context: ./backend/authentication
      dockerfile: Dockerfile
    container_name: authentication-service
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY:-default_secret_key_for_dev}
      - DEBUG=${DEBUG:-False}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-*}
      - DB_NAME=railway
      - DB_USER=postgres
      - DB_PASSWORD=QdleMpvGHEMlhrrlrinLihmJggQCMXfU
      - DB_HOST=trolley.proxy.rlwy.net
      - DB_PORT=57512
    networks:
      - app-network
    restart: always

  assets:
    build:
      context: ./backend/assets
      dockerfile: Dockerfile.local
    container_name: assets-service
    ports:
      - "8003:8000"  # Map host port 8003 to container port 8000
    environment:
      - SECRET_KEY=${SECRET_KEY:-default_secret_key_for_dev}
      - DEBUG=${DEBUG:-False}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-*}
      - DB_NAME=railway
      - DB_USER=postgres
      - DB_PASSWORD=qoSFWIdZocmITRXhUflaawOfxIeGgljG
      - DB_HOST=switchback.proxy.rlwy.net
      - DB_PORT=30647
    networks:
      - app-network
    restart: always

  contexts:
    build:
      context: ./backend/contexts
      dockerfile: Dockerfile.local
    container_name: contexts-service
    ports:
      - "8002:8000"  # Map host port 8002 to container port 8000
    environment:
      - SECRET_KEY=${SECRET_KEY:-default_secret_key_for_dev}
      - DEBUG=${DEBUG:-False}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-*}
      - DB_NAME=railway
      - DB_USER=postgres
      - DB_PASSWORD=vzYwYBKnmkTitUnSZgpxFBUicmGIgIcj
      - DB_HOST=tramway.proxy.rlwy.net
      - DB_PORT=43108
    networks:
      - app-network
    restart: always

  accessories:
    build:
      context: ./backend/accessories
      dockerfile: Dockerfile.local
    container_name: accessories-service
    ports:
      - "8004:8000"  # Map host port 8004 to container port 8000
    environment:
      - SECRET_KEY=${SECRET_KEY:-default_secret_key_for_dev}
      - DEBUG=${DEBUG:-True}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-*}
      - DB_NAME=railway
      - DB_USER=postgres
      - DB_PASSWORD=ZzFiWKvFfapCGIkMvWUhzFgyQssaDuzx
      - DB_HOST=ballast.proxy.rlwy.net
      - DB_PORT=22274
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
