.accessories-registration {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 100px 38px 38px 38px;
    background-color: var(--bg-color);
    overflow: auto;
}

.accessories-registration .navigation-and-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
}

.accessories-registration a {
    color: var(--secondary-text-color);
    cursor: pointer;
}

.accessories-registration a:hover {
    color: var(--primary-color);
}

.accessories-registration .registration-form {
    display: flex;
    height: auto;
    width: 60vw;
    align-self: center;
    padding: 24px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(211, 211, 211, 0.3);
    border-radius: 40px;
    border: 1px solid #d3d3d3;
}

.accessories-registration form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.accessories-registration form fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accessories-registration fieldset div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.accessories-registration input,
.accessories-registration select,
.accessories-registration textarea {
    width: 100%;
    padding: 13px 16px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}

.accessories-registration textarea {
    height: 13vh;
}

.accessories-registration fieldset p {
    padding: 13px 16px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    font-size: 0.875rem;
    color: var(--secondary-text-color);
}

.accessories-registration fieldset:nth-last-child(2) button {
    padding: 12px 16px;
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.accessories-registration .save-btn {
    padding: 12px 16px;
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}