.page table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.page table th,
.page table td {
  padding: 0.75rem;
  border-bottom: 1px solid #d3d3d3;
  font-size: 0.7rem;
  color: var(--secondary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  height: 50px;
}

/* Checkbox Column */
.page table th.col-checkbox,
.page table td.col-checkbox {
  width: 60px;
  text-align: left;
  padding-left: 12px;
  font-size: 0.8rem;
}

/* Image Column */
.page table th.col-image,
.page table td.col-image {
  width: 60px;
  text-align: left;
  padding-left: 12px;
  font-size: 0.88rem;
}

/* Middle Columns */
.page table th.col-middle {
  text-align: left;
  font-size: 0.8rem;
  padding-left: 12px;
}

.page table td.col-middle {
  text-align: left;
  padding-left: 12px;
  font-size: 0.88rem;
}

/* Last Three Columns */
.page table th.col-last {
  width: 60px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.8rem;
}

.page table td.col-last {
  width: 60px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.88rem;
}

/* Other styles remain the same */
.page img {
  height: 5vh;
  width: 5vw;
  object-fit: cover;
}

.no-products-message {
  text-align: center;
}

.no-products-message p {
  font-family: 'Poppins';
  font-size: 20px;
  color: var(--text-color);
  margin: 50px;
}

/* Container for the progress bar and text */
.progress-container {
  display: flex;
  align-items: center; /* Vertically center the text and progress bar */
  gap: 8px; /* Space between the text and progress bar */
}

/* Style the text */
.progress-text {
  font-size: 0.88rem; /* Match the font size of other table cells */
  color: #34c759; /* Keep the green color */
}

/* Style for the progress bar */
.progress-container progress {
  width: 100px; /* Adjust the width as needed */
  height: 10px; /* Height of the progress bar */
  border-radius: 5px; /* Rounded edges */
  overflow: hidden; /* Ensure rounded edges are visible */
}

/* Background of the progress bar */
.progress-container progress::-webkit-progress-bar {
  background-color: #e0e0e0; /* Light gray background */
  border-radius: 5px;
}

/* Filled portion of the progress bar */
.progress-container progress::-webkit-progress-value {
  background-color: #34c759; /* Green fill color */
  border-radius: 5px;
}

/* For Firefox */
.progress-container progress::-moz-progress-bar {
  background-color: #34c759; /* Green fill color */
  border-radius: 5px;
}