/* Base */
.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 4px;
}

/* Check-In Button (success style) */
.action-button.action-button-checkin {
  background-color: var(--success-color) !important;
}

.action-button.action-button-checkin:hover {
  background-color: var(--success-color-hover) !important; 
}

/* Check-Out Button (primary style) */
.action-button.action-button-checkout {
  background-color: var(--primary-color) !important;
}

.action-button.action-button-checkout:hover {
  background-color: var(--primary-color-hover) !important;
}

/* Make sure icons inside are white */
.action-button-checkin i,
.action-button-checkout i {
  color: #fff;
}

/* Aligns left inside its cell */
.action-button-recover,
.action-button-checkin,
.action-button-checkout {
  margin-right: auto;
}

.action-button:disabled,
.action-button.disabled {
  background-color: var(--disabled-color) !important;
  cursor: not-allowed;
  pointer-events: none;
}

.action-button:disabled:hover,
.action-button.disabled:hover {
  background-color: inherit !important;
}
