.alert {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 35vw;
  padding: 10px 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  gap: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.alert img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  padding: 2px;
  border-radius: 50%;
  object-fit: cover;
}

.alert-danger,
.alert-danger p {
  background-color: var(--warning-bg);
  color: var(--warning-text);
}

.alert-danger img {
  background-color: var(--warning-text);
  box-shadow: 0px 0px 0px 3px rgba(255, 62, 29, 0.25),
    0px 0px 0px 6px rgba(255, 62, 29, 0.15);
}

.alert-success,
.alert-success p {
  background-color: var(--success-bg);
  color: var(--success-text);
}

.alert-success img {
  background-color: var(--success-text);
  box-shadow: 0px 0px 0px 3px rgba(113, 221, 55, 0.25),
    0px 0px 0px 6px rgba(113, 221, 55, 0.15);
}

/* To make the alert as visible or hidden.
   Use diplay as none if you want to hide the alert.
   Other wise, use flex.
*/
.alert {
  display: flex;
}
