.table-layout {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #cccccc;
    width: 100%;

    .table-header {
        display: flex;
        align-items: center;
        padding: 15px 30px;
        border-radius: 8px 8px 0 0;

        input[type="search"] {
            display: flex;
            align-items: center;
            background-color: #f9f9f9;
            border-radius: 4px;
            padding: 10px 12px;
            border: none;
            border: 1px solid #cccccc;
        }
    }

    .table-section {
        overflow-x: auto;
        height: 500px;
        overflow-y: auto;


        table {
            width: 100%;
            border-collapse: collapse;

            th {
                padding: 0.75rem !important;
                /* 12px */
                text-align: left !important;
                font-size: 0.75rem;
                /* 12px */
                font-weight: 600;
                color: var(--text-color);
                border-top: 1px solid #cccccc;
                border-bottom: 1px solid #cccccc;
                background-color: #f0f1f2;

                height: 50px;

                position: sticky;
                top: 0;
                z-index: 1;
            }

            th:last-child {
                width: 50px;
            }

            th:nth-child(1) {
                width: 10px;
            }

            td {
                text-align: left !important;
                padding: 0.75rem;
                font-size: 0.8125rem;
                /* 13px */
                color: var(--text-color);
                border-bottom: 1px solid #cccccc;

                height: 50px;
            }

            tr:hover {
                background-color: #fcfcfc;
            }

            img {
                width: 22px;
                height: 22px;
            }

            .action-button-section,
            .category-name {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: var(--text-color);
                gap: 10px;
            }

            .action-button {
                border: none;
                border: 1px solid #cccccc;
                background-color: #f9f9f9;
                padding: 5px 10px;
                border-radius: 4px;
                color: #555555;
                font-size: 0.75rem;
                /* 12px */
                cursor: pointer;
                transition: background-color 0.2s ease, color 0.2s ease,
                    border-color 0.2s ease;
            }

            .action-button:hover {
                background-color: #f0f0f0;
                color: #333333;
                border-color: #999999;
            }
        }
    }

    .table-pagination {
        padding: 0 20px;
    }
}