:root {
  --bg-color: #fcfcfc;
  --primary-color: #007bff;
  --text-color: #242424;
  --secondary-text-color: #545f71;

  --warning-bg: #ffe0db;
  --warning-text: #ff3e1d;
  --success-bg: #e8f9df;
  --success-text: #71dd37;
}
