:root {
  --bg-color: #f8f8f8;
  --primary-color: #007bff;
  --primary-color-hover: #0056B3;
  --text-color: #0C0C0C;
  --secondary-text-color: #545f71;
  --light-text-color: #FCFCFC;

  --warning-bg: #ffe0db;
  --warning-text: #ff3e1d;
  --success-bg: #e8f9df;
  --success-text: #71dd37;

  --disabled-color: #414651;

  /* Status colors */
  --archived: #e7e8ec;
  --archiveda-text: #132144;
  --deployed: #007bff33;
  --deployed-text: #007bff;
  --undeployable: #ff3b3033;
  --undeployable-text: #cc2f26;
  --pending: #ff950033;
  --pending-text: #ff9500;
  --deployable: #34c75933;
  --deployable-text: #34c759;


  --page-padding: 100px 38px 38px 38px;
  --card-padding: 20px;
}