td, th {
  height: 50px;
  min-height: 50px;
  vertical-align: middle;
}

img {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
  border-radius: 4px !important;
}