/* Global styles for the application */
a,
a:hover,
a:focus,
a:active,
.user-management-page *,
.user-management-page *:hover,
.user-management-page *:focus,
.user-management-page *:active {
  text-decoration: none !important;
}

.user-card,
.user-card:hover,
.user-card:focus,
.user-card:active,
.user-card *,
.user-card *:hover,
.user-card *:focus,
.user-card *:active {
  text-decoration: none !important;
}

.user-details,
.user-details *,
.user-details *:hover,
.user-details *:focus,
.user-details *:active {
  text-decoration: none !important;
}

.user-details h3,
.user-details h3:hover,
.user-details h3:focus,
.user-details h3:active {
  text-decoration: none !important;
}

.disabled-dropdown {
  display: flex;

  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-color: rgb(211, 211, 211, 0.5);

  font-size: 0.875rem;
  color: #808080;

  cursor: default;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

.save-btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 12px 16px;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  transition: 0.5s ease;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #d3d3d3;
}

.save-btn:hover:not(button:disabled) {
  background-color: var(--primary-color-hover);
}
