.page table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.page table th,
.page table td {
  padding: 0.75rem;
  border-bottom: 1px solid #d3d3d3;
  font-size: 0.7rem;
  color: var(--secondary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  height: 50px;
}

/* Checkbox Column */
.page table th.col-checkbox,
.page table td.col-checkbox {
  width: 60px;
  text-align: left;
  padding-left: 12px;
  font-size: 0.8rem;
}

/* Image Column */
.page table th.col-image,
.page table td.col-image {
  width: 60px;
  text-align: left;
  padding-left: 12px;
  font-size: 0.88rem;
}

/* Middle Columns */
.page table th.col-middle {
  text-align: left;
  font-size: 0.8rem;
  padding-left: 12px;
}

.page table td.col-middle {
  text-align: left;
  padding-left: 12px;
  font-size: 0.88rem;
}

/* Last Three Columns */
.page table th.col-last {
  width: 60px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.8rem;
}

.page table td.col-last {
  width: 60px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.88rem;
}

/* Other styles remain the same */
.page img {
  height: 5vh;
  width: 5vw;
  object-fit: cover;
}

.no-products-message {
  text-align: center;
}

.no-products-message p {
  font-family: 'Poppins';
  font-size: 20px;
  color: var(--text-color);
  margin: 50px;
}