.assets-table-section {
  overflow-x: auto;
  max-height: 55vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.assets-table-section table {
  width: 100%;
  border-collapse: collapse;
}

.assets-table-section table th {
  padding: 0.75rem !important;
  text-align: left !important;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #f0f1f2;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* table header for 'Image' (first column now) */
.assets-table-section table th:first-child {
  width: 50px;
}

.assets-table-section table td {
  text-align: left !important;
  padding: 0.75rem;
  font-size: 0.8125rem;
  color: var(--text-color);
  border-bottom: 1px solid #cccccc;
  height: 50px;
}

.assets-table-section table td.no-data-message {
  display: table-cell !important;
  width: 100% !important;
  white-space: normal !important;
  padding: 0.75rem !important;
  text-align: center !important;
  font-style: italic;
  color: var(--secondary-text-color);
  background: transparent;
}

.assets-table-section table tr:hover {
  background-color: #fcfcfc;
}

.table-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.eof-warranty-report-table-section {
  overflow-x: auto;
  max-height: 55vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.eof-warranty-report-table-section table {
  width: 100%;
  border-collapse: collapse;
}

.eof-warranty-report-table-section table th {
  padding: 0.75rem !important;
  text-align: left !important;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #f0f1f2;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.eof-warranty-report-table-section table th:first-child {
  width: 200px;
}

.eof-warranty-report-table-section table th:nth-child(2) {
  min-width: 200px;
  max-width: fit-content;
}

.eof-warranty-report-table-section table td {
  text-align: left !important;
  padding: 0.75rem;
  font-size: 0.8125rem;
  color: var(--text-color);
  border-bottom: 1px solid #cccccc;
  height: 50px;
}

.eof-warranty-report-table-section table td.no-data-message {
  display: table-cell !important;
  width: 100% !important;
  white-space: normal !important;
  padding: 0.75rem !important;
  text-align: center !important;
  font-style: italic;
  color: var(--secondary-text-color);
  background: transparent;
}

.eof-warranty-report-table-section table tr:hover {
  background-color: #fcfcfc;
}