.activity-report-table-section {
  overflow-x: auto;
  max-height: 55vh;
  overflow-y: auto;
  overscroll-behavior: contain;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: 0.75rem !important;
      text-align: left !important;
      font-size: 0.75rem;
      font-weight: 600;
      color: var(--text-color);
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      background-color: #f0f1f2;
      height: 50px;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    th.checkbox-col,
    td.checkbox-col {
      width: 28px;
      text-align: center;
      padding: 0 !important;
    }

    th.checkbox-col input[type="checkbox"],
    td.checkbox-col input[type="checkbox"] {
      width: 16px;
      height: 16px;
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    th:first-child {
      min-width: 170px;
    }

    th:nth-child(2) {
      min-width: 200px;
      max-width: fit-content;
    }

    th:nth-child(3) {
      min-width: 130px;
    }

    td {
      text-align: left !important;
      padding: 0.75rem;
      font-size: 0.8125rem;
      color: var(--text-color);
      border-bottom: 1px solid #cccccc;
      height: 50px;
    }

    td.no-data-message {
      display: table-cell !important;
      width: 100% !important;
      white-space: normal !important;
      padding: 0.75rem !important;
      text-align: center !important;
      font-style: italic;
      color: var(--secondary-text-color);
      background: transparent;
    }

    tr:hover {
      background-color: #fcfcfc;
    }
  }
}